<a href="/rock">Play Rock</a>
<div>
<a href="/paper">Play Paper</a>
<div>
<a href="/scissors">Play Scissors</a>
<div>
<h1>We played scissors!</h1>
<div>
<h1>They played <%=@random_move%>!</h1>
<div>
<h1><%=@outcome%></h1>
<div>
<a href="/">Rules</a>
